#container {
  display: flex;
  flex-direction: row;
  border: 2px #aaa solid;
  overflow: hidden;
  height: 80vh;
}

.main {
  padding: 0 2.5rem;
  background: #eee;
  flex-grow: 1;
}

.list-style-none {
  list-style: none;
  padding-left: 0;
}
.list-style-none li {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px #aaa solid;
}
