#container {
  display: flex;
  flex-direction: row;
  border: 2px #aaa solid;
  overflow: hidden;
  height: 80vh;
}

.main {
  padding: 0 2.5rem;
  background: #eee;
  flex-grow: 1;
  min-width: 300px;
}

.list-style-none {
  list-style: none;
  padding-left: 0;
}
.list-style-none li {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px #aaa solid;
}

mds-extra-details ul,
mds-extra-details ol {
  margin: 0;
  padding-left: 1.5rem;
  padding-top: 0.3rem;
}

mds-extra-details li {
  margin-bottom: 0.25rem;
}

/* 
  Mobile adapted content component. 
  Probably should go in own/demo file for now since it's not yet part of required components.
*/
/* Defined state for mds-mobile-adapted-content. */
mds-mobile-adapted-content {
  /* Animate with fade-in when defined. */
  animation: var(--loading-animation);
}
/* 
  Initial states for mds-mobile-adapted-content slots based on media-query. 
*/
@media (min-width: 420px) {
  /* If on desktop, hide all mobile-only slot content. Use important to take precedence over all defined/undefined states. */
  [slot='mobile-only'] {
    display: none !important;
  }
}
@media (max-width: 420px) {
  /* If on mobile, show only mobile-only slot content. Use important to take precedence over all defined/undefined states. */
  [slot='desktop'] {
    display: none !important;
  }
}
