/* Screen-reader only utility. */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Basic fade-in animation. Used for WC 'hydration' (undefined -> defined) transition. */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Arguably Drawer stuff should be hidden entirely until element is defined. */
mds-drawer:not(:defined) {
  display: none;
  width: 0;
  overflow: hidden;
}

mds-drawer:not(:defined) section {
  /* TODO: is this still required? */
  /* width: 100%; */
}

/* NEW CSS FOR DRAWER! */

/* TODO: think I need to refocus away from keyframe animations - too complex, just use --vars and transition like w/ Details - a bit easier to handle and use on interior <section> style width: bonus can do everything but fade inside the component CSS. */
/* mds-drawer { */
/* position: relative; */
/* overflow: visible; */
/* } */

/* TODO: clean up this whole file! Probably lots not required anymore! */

mds-drawer:defined {
  animation: fade-in 0.3s;
}

/* End of new Drawer CSS. */

mds-mobile-adapted-content:defined {
  animation: fade-in 0.5s;
}
/* Initial states for mds-mobile-adapted-content based on media-query. */
@media (min-width: 420px) {
  /* If on desktop, hide all mobile-only slot content. */
  [slot='mobile-only'] {
    display: none;
  }
}
@media (max-width: 420px) {
  /* If on mobile, show only mobile-only slot content. */
  [slot='desktop'] {
    display: none;
  }
}

/* Make it global? or maybe at least see for anything 'mds-x' */
mds-extra-details:defined {
  animation-name: fade-in;
  animation-duration: 0.5s;
}
mds-extra-details:not(:defined) * {
  visibility: hidden;
}
