/* Screen-reader only utility. */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

mds-drawer:defined {
  animation-name: slide-from-left, fade-in;
  animation-duration: 0.3s, 0.3s;
  animation-play-state: paused, running;
}

/* TODO: flesh out initialized styles. See related Codepen.*/
mds-drawer[initialized] {
  /* border: 10px lime solid; */
}

/* Basic fade-in animation. */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* TODO: probably re-work animations as specific to Drawer and put the animation definitions in the CSS for the Component? No need to generalize them at the moment really - Just need to have the fade-in animation here for all components as they go from undefined to defined - maybe initial width/margin-left for Drawer too but dunno about that - should use preload maybe to block rendering of component till CSS is loaded anyway? */

/* TODO: add an set of keyframes for active facets etc and use that to simply extend regular <details> tag with animation on opening - i.e. animate height - calculate that I guess? */

/* Basic slide-in-from-left animation. */
@keyframes slide-from-left {
  from {
    margin-left: calc(-33vw - 1rem);
  }
  to {
    margin-left: 0;
  }
}

mds-drawer:not(:defined) {
  /* Should basically just be partaking of 'off-screen' styles. */
  margin-left: -1000px;

  /* Not defined, so by definition not visible...need to do animations not transition here! */
  /* opacity: 0; */
  /* transition: opacity 8s ease-in; */
  /* background: red; */
}

/* Initial states for mds-mobile-adapted-content based on media-query. */
@media (min-width: 420px) {
  /* If on desktop, hide all mobile-only slot content. */
  mds-mobile-adapted-content [slot='mobile-only'] {
    display: none;
  }
}
@media (max-width: 420px) {
  /* If on mobile, show only mobile-only slot content. */
  mds-mobile-adapted-content :not([slot='mobile-only']) {
    display: none;
  }
}

/* TODO: this should probably be overriden by default ol styles in any case so can remove later. */
mds-extra-details ul {
  margin: 0;
  padding-left: 1rem;
  padding-top: 0.3rem;
  list-style-type: none;
}

/* Make it global? or maybe at least see for anything 'mds-x' */
mds-extra-details:defined {
  animation-name: fade-in;
  animation-duration: 0.5s;
}
mds-extra-details:not(:defined) * {
  visibility: hidden;
}

/* TODO: now that more of details comp is rendered in ShadowDOM, getting FOUC so need init styles... Fade in prob. */
